@font-face {
    font-family: 'Neillgates'; /*a name to be used later*/
    src: url('/static/fonts/neillgates.ttf'); /*URL to font*/
}

.pinky-color {
    color: #FF84C0;
}

.background {
    background-color: #FFE4E1
}