<html th:replace="~{common.html :: layout('base', ~{::title}, ~{::main}, false)}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Главная
    </title>
</head>
<body>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div style="background-image: url('static/img/bg2.jpg'); background-size: cover; height: 750px; width: 100%;">
                    <div style="position: relative; top: 450px; padding-left: 50px">
                        <h1 class="pinky-color" style="font-size: 5rem;">Десерты на заказ</h1>
                        <h1 style="color: black; font-size: 5rem;">в Москве</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="row m-5">
                <div class="col-lg-6">
                    <img src="/static/img/kate2.png" width="400" height="400">
                </div>
                <div class="col-lg-6">
                    <h3 class="pinky-color">Мое вдохновение</h3>
                    <h3 style="color: black;">- Довольные клиенты</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum facilisis nisl faucibus elementum odio enim lobortis.
                        Eget ac ut tincidunt pulvinar egestas amet, dolor mi. Tincidunt
                        massa sed viverra risus ut integer pellentesque ipsum. Purus
                        tincidunt magna porta ac in cras.</p>
                </div>
            </div>

            <div class="row m-5">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h3>Начинки</h3>
                    </div>
                </div>

                <div class="row d-flex justify-content-around gy-3">
                    {% for cake in cakes[:4] %}
                    {{ cake_macros.render_cake(cake, False) }}
                    {% endfor %}
                </div>

                <div class="row my-3">
                    <div class="col d-flex justify-content-center">
                        <a href="/cakes/1" type="button" class="btn btn-outline-secondary">БОЛЬШЕ НАЧИНОК</a>
                    </div>
                </div>
            </div>

            <div class="row m-5">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h3 style="color: #FF84C0;">Примеры&nbsp;</h3>
                        <h3>работ</h3>
                    </div>
                </div>

                <div class="row d-flex justify-content-around gy-3">
                    {% for example in examples[:4] %}
                    {{ card_macros.render_card(example['imgs'], example['id'], False, 'example') }}
                    {% endfor %}
                </div>

                <div class="row my-3">
                    <div class="col d-flex justify-content-center">
                        <a href="/examples" type="button" class="btn btn-outline-secondary">БОЛЬШЕ ПРИМЕРОВ</a>
                    </div>
                </div>
            </div>

            <div class="row m-5">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h3 class="pinky-color">Отзывы&nbsp;</h3>
                        <h3>о работе</h3>
                    </div>
                </div>

                <div class="row d-flex justify-content-around gy-3">
                    {% for elem in feedback[:4] %}
                    {{ card_macros.render_card(elem['imgs'], loop.index0, False, 'feedback') }}
                    {% endfor %}
                </div>

                <div class="row my-3">
                    <div class="col d-flex justify-content-center">
                        <a href="/feedback" type="button" class="btn btn-outline-secondary">БОЛЬШЕ ОТЗЫВОВ</a>
                    </div>
                </div>
            </div>

            <div class="row m-5">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h3>Контакты</h3>
                    </div>
                </div>

                <div class="row gy-3">
                    <div class="col-lg-6">
                        <div class="py-3">
                            <div class="py-2">
                                ТЕЛЕФОН
                            </div>
                            <h4 class="py-2">
                                +7(965)372-12-97
                            </h4>
                        </div>
                        <div class="py-3">
                            <div class="py-2">
                                САМОВЫВОЗ
                            </div>
                            <h4 class="py-2">
                                Москва, ул. Братиславская, д. 23
                            </h4>
                        </div>
                        <div class="py-3">
                            <div class="py-2">
                                Я В СОЦСЕТЯХ
                            </div>
                            <div class="py-2">
                                <div th:insert="soc_links.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <script type="text/javascript" charset="utf-8" async
                                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3649af7471d4796b172d2e045368e63f1484c834af227ee82b9e3e7b958bf683&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
