<div class="grid gap-0">
<span class="p-1">
    <a class="text-decoration-none" href="https://vk.com/katya_konditer1" target="_blank">
        <img src="/static/img/vk_icon.svg" class="svg" width="20" height="20">
    </a>
</span>
    <span class="p-1">
    <a class="text-decoration-none" href="https://t.me/UltraDiscountGS" target="_blank">
        <img src="/static/img/tg_icon.svg" class="svg" width="20" height="20">
    </a>
</span>
    <span class="p-1">
    <a class="text-decoration-none"
       href="https://wa.me/79653721297?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82%2C%20%D1%8F%20%D0%B7%D0%B0%20%D1%82%D0%BE%D1%80%D1%82%D0%B8%D0%BA%D0%BE%D0%BC!"
       target="_blank">
        <img src="/static/img/wts_icon.svg" class="svg" width="20" height="20">
    </a>
</span>
</div>